@import "global/var";
@import "global/mixin";
@import "global/fonts";
@import "global/normalize";
@import "global/base";


.container {
  width: 1000px;
  margin: 0 auto;
}

.form-control {
  display: block;
  width: 300px;
  padding: 6px 12px;
  border: 1px solid #ddd;
  margin-bottom: 12px;

  &:focus {
    outline: none;
  }
}

.btn {
  border: none;
  padding: 6px 12px;
  background: #0C365A;
  color: #fff;
  &+&{
    margin-left: 16px;
  }
  &.default{
    color: #0C365A;
    background: #9ac0fa;
  }
}

code{
  display: block;
  padding: 20px;
  background: #eee;
  margin: 20px 0;
  font-family: $mono-font-family;
  border: 1px solid #eee;
}

.d-flex{
  display: flex;
}
.instalments,.user-loan{
  margin-bottom: 8px;
}
.btn.pay{
  display: flex;
  align-items: center;
  margin-left: auto;
  font-family: $san-font-family;
  img{
    margin-right: 16px;
  }
}

.loan-bar{
  width: 100%;
  display: flex;
  user-select: none;
  cursor: pointer;
  .toggle-sym{
    margin-right: 16px;
    margin-left: auto;
  }
}

.loan-header {
  align-items: center;
  width: 100%;
  display: flex;
  .action{
    margin-left: auto;
  }
}