<template>
  <div class="font-mono">
    <h2 class="loan-bar" @click="handleToggle">
      <slot name="header"></slot>
      <span class="toggle-sym" v-if="toggleCond">{{ toggle ? "-" : "+" }}</span></h2>
    <hr>
    <div v-if="toggleCond&&toggle">
      <slot name="body"></slot>
      <hr>
    </div>
  </div>
</template>

<script>
import {defineComponent, ref} from 'vue';

export default defineComponent({
  setup() {
    const toggle = ref(false);
    const handleToggle = () => {
      toggle.value = !toggle.value
    };

    return {
      toggle,
      handleToggle,
    };
  },
  props: {
    toggleCond: {
      type: Boolean,
      default: true
    }
  }

})
</script>

<style scoped>

</style>