<template>
  <Acc :toggle-cond="loanData.isApprove">
    <template v-slot:header>
      <span> {{ loanData.amount }} | {{loanData.term}} weeks | {{loanData.isApprove?'Approved':'Not yet approved'}}</span>
    </template>
    <template v-slot:body>
      <div class="d-flex instalments" v-for="(inst,index) in loanData.Instalments" :key="`${loanData.id}_${inst.id}`" >
        <h3>instalment {{index+1}} | {{inst.payAmount.toFixed(2)}} | Due: {{getFormattedDate(inst.dueDate)}}</h3>
        <button class="btn pay"><img src="src/assets/gpay.svg"> Pay Now</button>
      </div>
    </template>
  </Acc>
<!--  <div class="font-mono">
    <h2 class="loan-bar" @click="handleToggle"><span> {{ loanData.amount }} | {{loanData.term}} weeks | {{loanData.isApprove?'Approved':'Not yet approved'}}</span> <span class="toggle-sym" v-if="loanData.isApprove">{{toggle?"-":"+"}}</span></h2>
    <hr>
    <div v-if="toggle">
      <div class="d-flex instalments" v-for="(inst,index) in loanData.Instalments" :key="`${loanData.id}_${inst.id}`" >
        <h3>instalment {{index+1}} | {{inst.payAmount.toFixed(2)}} | Due: {{getFormattedDate(inst.dueDate)}}</h3>
        <button class="btn pay"><img src="src/assets/gpay.svg"> Pay Now</button>
      </div>
      <hr>
    </div>
  </div>-->
</template>

<script>
import {defineComponent} from "vue";
import moment from "momnet";
import Acc from "./Acc.vue";

export default defineComponent({
  components:{
    Acc
  },
  props: {
    loanData: {
      type: Object
    }
  },
  methods:{
    getFormattedDate(date){
      const mDate = moment(new Date(date))
      return `${mDate.format("DD MMM YYYY")}, ${mDate.fromNow()}`
    }
  }
})
</script>

<style scoped>

</style>