<template>
  <Acc>
    <template v-slot:header>
      <span> <span>{{userData.firstName}} {{userData.lastName}} - {{userData.loans.length}} Pending</span></span>
    </template>
    <template v-slot:body>
      <div v-for="loan in userData.loans" :key="`${userData.id}__${loan.id}`">
        <div class="d-flex user-loan">
          <h2>Amount - {{ loan.amount }} | Term - {{loan.term}} Weeks | $ {{(loan.amount/loan.term).toFixed(2)}} per Instalment</h2>
          <button class="btn pay" @click="()=>handleApprove(loan.id)">Approve</button>
        </div>
      </div>
    </template>
  </Acc>
  <!--  <div class="font-mono">
      <div class="font-mono">

        <div class="d-flex">
          <h2 @click="()=>handleToggle()" class="loan-bar"><span>{{userData.firstName}} {{userData.lastName}} - {{userData.loans.length}} Pending</span>   <span class="toggle-sym">+</span></h2>

        </div>
        <hr>
        <div v-if="toggle">
          <div v-for="loan in userData.loans" :key="`${userData.id}__${loan.id}`">
            <div class="d-flex user-loan">
              <h2>Amount - {{ loan.amount }} | Term - {{loan.term}} Weeks | $ {{(loan.amount/loan.term).toFixed(2)}} per Instalment</h2>
              <button class="btn pay" @click="()=>handleApprove(loan.id)">Approve</button>
            </div>
          </div>
          <hr>

        </div>

      </div>
    </div>-->
</template>

<script>
import {defineComponent, ref} from "vue";
import {mapActions} from "vuex";
import Acc from "./Acc.vue";
import {APPROVE_PENDING_LOAN} from "../store/constants/loan";

export default defineComponent({
  components: {
    Acc
  },
  setup: () => {
    const toggle = ref(false);
    const handleToggle = () => {
      toggle.value = !toggle.value
    };

    return {
      toggle,
      handleToggle,
    };
  },
  methods: {
    ...mapActions({
      approveLoan: APPROVE_PENDING_LOAN
    }),
    handleApprove(id) {
      this.approveLoan({
        userId: this.userData.id,
        loanId: id
      })
    }
  },
  props: {
    userData: {
      type: Object
    }
  },
})
</script>

<style scoped>

</style>