.d-flex {
  display: flex;
}

.btn {
  background: none;
  border: none;
}

.container {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  height: 100vh;
  @include media-down(md) {
    flex-direction: column-reverse;
  }

  aside {
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    width: 100%;
    max-width: 453.3px;
    height: 100%;
    background: $dark-blue;
    padding: 64px;
    @include media-down(xl) {
      padding: 32px;
      max-width: 353.3px;
    }
    @include media-down(md) {
      padding: 0;
      width: 100%;
      flex-grow: 0;
      height: convert(56);
      background: #FFFFFF;
      max-width: inherit;

    }
  }

  main {
    flex-grow: 1;
    width: 100%;
    height: 100%;
    background: $light-color;
    display: flex;
    flex-direction: column;
    overflow: auto;
  }

  .nav-header {
    flex-grow: 0;
  }

  .logo {
    @include media-down(md) {
      display: none;
    }

    img {
      width: 166px;
      margin-bottom: 25.3px;
    }

    & + p {
      font-size: convert(15);
      color: rgba($light-color, 0.3);
      margin-bottom: convert(81);
      @include media-down(md) {
        display: none;
      }
    }
  }

  .nav {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow: auto;
    @include media-down(md) {
      flex-direction: row;
      box-shadow: 0 convert(2) convert(6) #00000014;
    }

    a {

      margin-bottom: convert(50);

      &:last-of-type {
        margin-bottom: none;
      }

      width: 100%;
      text-decoration: none;
      display: flex;
      align-items: center;
      @include media-down(md) {
        flex-direction: column;
        color: $light-grey;
      }
      color: $light-color;

      &.active {
        color: $primary-color;
      }

      i {
        font-size: 32px;
        @include media-down(md) {
          font-size: convert(32);
          margin-top: convert(15);
        }
      }

      span {
        @include media-down(md) {
          display: none;
        }
        font-size: convert(16);
        margin-left: convert(16);
      }
    }
  }

  main > header {
    width: 100%;
    display: flex;
    flex-grow: 0;
    @include container-padding();
    margin-top: convert(60);
    @include media-down(md) {
      margin-top: convert(30);
    }
  }

  header > .btn.create-card {
    background: $link-color;
    color: #fff;
    height: convert(35);
    border-radius: convert(4);
    display: flex;
    align-items: center;
    margin-left: auto;
    align-self: center;
    padding: convert(8) convert(12);
    font-size: convert(13);
    cursor: pointer;

    i {
      font-size: convert(16);
      margin-right: convert(8);
    }

    @include media-down(xs) {
      i {
        color: $link-color-light;
      }
      font-weight: 600;
      color: $link-color-light;
      align-self: flex-end;
    }
  }

  header > .balance {
    display: flex;
    flex-direction: column;

    .title {
      font-size: convert(14);
      color: $dark-color;
      line-height: convert(16);
      @include media-down(xs) {
        color: #fff;
      }

      & + .d-flex {
        margin-top: convert(16);
      }
    }

    .currency {
      background: $primary-color;
      color: $light-color;
      font-size: convert(13);
      font-weight: bold;
      line-height: convert(16);
      padding: convert(2) convert(13);
      border-radius: convert(4);
      @include media-down(md) {
        font-size: convert(12);
      }
      @include media-down(xs) {
        color: #fff;
      }
    }

    .amount {
      font-size: convert(26);
      line-height: convert(16);
      font-weight: bold;
      color: $dark-color;
      margin-left: convert(12);
      @include media-down(md) {
        font-size: convert(24);
      }
      @include media-down(xs) {
        color: #fff;
      }
    }
  }

  main > .tab {
    margin-top: convert(40);
    @include container-padding();

    a {
      display: inline-block;
      font-size: convert(14);
      font-weight: 600;
      line-height: convert(20);
      margin-right: convert(32);
      color: rgba($dark-color, 0.3);
      text-decoration: none;
      @include media-down(xs) {
        color: rgba($light-color, 0.3);
        &.active {
          color: $light-color;
        }
      }

      &.active {
        border-bottom: 5px solid $link-color-light;
        color: $dark-color;
        @include media-down(xs) {
          color: $light-color;
        }
        @include media-down(md) {
          border-bottom: 2px solid $link-color-light;
        }
      }
    }
  }

  main > .tab-content-container {
    @include container-padding();
    display: flex;
    flex-grow: 1;
    @include media-down(xs) {
      padding: 0;
    }

    .tab-content {
      display: grid;
      grid-template-columns: convert(358) auto;
      grid-template-rows: convert(300) auto;
      grid-column-gap: convert(20);

      margin-top: convert(16);
      border: 1px solid #FCFCFC;
      box-shadow: 0px 2px 16px #ebebeb;
      width: 100%;
      margin-bottom: convert(80);
      border-radius: convert(8);
      padding: convert(30) convert(40);
      @include media-down(md) {
        padding: convert(30);
      }
      @include media-down(xs) {
        grid-column-gap: convert(0);
        grid-template-rows: calc(100vh - 200px) auto;
        grid-template-columns: auto;
      }
      @include media-down(xs) {
        padding: 0;
        margin: 0;
      }
    }

  }
}

.cards {
  grid-column: 1;
  grid-row: 1;
  //display: flex;
  flex-basis: 50%;
  max-width: convert(358);
  margin-bottom: convert(32);
  //overflow: auto;
  @include media-down(xs) {
    max-width: inherit;
    width: 100vw;
  }

  .glider-dot {
    background: rgba($primary-color, 0.2);
  }

  .glider-dot:hover, .glider-dot:focus, .glider-dot.active {
    background: lightgreen;
    width: convert(16);
  }
}

.card {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  width: 100%;
  max-width: convert(358);
  @include media-down(xs) {
    width: 100%;
  }
  background: $primary-color;
  //height: convert(220);
  margin-right: convert(20);

  &:last-of-type {
    margin-right: 0;
  }

  box-shadow: 0px 2px 6px #ebebeb;
  border-radius: convert(12);
  padding: convert(24);

  .logo {
    color: #fff;
    font-size: convert(23);
    margin-left: auto;
  }

  .card-holder {
    color: #fff;
    margin: convert(18) 0;
    font-weight: bold;
    font-size: convert(24);
  }

  .card-number {
    display: flex;
    align-items: center;

    .masked {
      font-size: convert(30);
      letter-spacing: convert(5);
    }

    span {
      margin-right: convert(18);
    }

    color: #fff;
    font-size: convert(16);
  }

  .exp-cvv {
    font-size: convert(13);
    font-weight: bold;
    color: #fff;

    .exp {
      margin-right: convert(30);
    }

    .cvv {
      display: flex;
      align-items: center;
    }

    .cvv > .masked {
      margin-left: convert(4);
      font-size: convert(25);
      line-height: convert(16);
      vertical-align: middle;
      display: inline-block;
      height: 15px;
    }
  }

  .card-vendor {
    margin-left: auto;
    font-size: convert(20);
  }
}

.card-options {
  height: convert(105);
  grid-row: 2;
  grid-column: 1;
  @include media-down(xs) {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    max-width: inherit;
  }
  padding: convert(21) convert(27);
  background: $card-opt-bg;
  border-radius: convert(16);
  flex-basis: 50%;
  max-width: convert(358);
  display: flex;
  justify-content: space-between;

  a {
    //max-width: 3rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    text-align: center;

    span {
      align-self: center;
      margin-top: convert(8);
    }
  }
}

.accordion-grp {
  grid-row-start: 1;
  grid-row-end: 3;
  @include media-down(xs) {

    grid-column-start: 1;
    grid-column-end: 2;

    grid-row-start: 3;
    grid-row-end: 4;
  }
}

@include media-down(xs) {
  .bg-mobile {
    width: 100%;
    position: fixed;
    background: $dark-blue;
    height: 90vh;
  }
  main > header {
    position: fixed;

  }
  .tab {
    position: fixed;
    top: 100px;
  }
  .cards {
    position: fixed;
    top: 30%;
    padding: 0 convert(12);
    //left: convert(10);
  }
  .card-options {
    z-index: 2;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  .accordion-grp {
    z-index: 2;
    background: $light-color;
  }
}

/*
.grid{
  width: 100%;
  display: grid;
  grid-template-columns: convert(380) auto;
  grid-template-rows: auto;
  .one{
    grid-column: 1;
    grid-row: 1;
    background: lightgreen;
  }
  .two{
    grid-row: 2;
    grid-column: 1;
    background: lightseagreen;
  }
  .three{
    grid-row-start: 1;
    grid-row-end: 3;
    background: lightsalmon;
  }
}*/
