<template>
  <div>
    <div class="d-flex loan-header">
    <h1>Admin  </h1>
      <div class="action">
        <button class="btn default" @click="logout">Logout</button>
      </div>
    </div>
    <hr>
    <div v-for="(user) in userList" :key="user.id">
      <PendingLoan :user-data="user" />

    </div>
  </div>
</template>

<script>
import {defineComponent} from "vue";
import {mapActions, mapGetters} from "vuex";
import {CREATE_LOAN, FETCH_PENDING_LOAN} from "../store/constants/loan";
import PendingLoan from '../components/PendingLoan.vue';
import router from "../router";

export default defineComponent({
  components:{
    PendingLoan
  },
  computed:{
    ...mapGetters({
      userList:'pendingLoans'
    })
  },
  methods:{
    ...mapActions({
      ...mapActions({
        fetchLoan: FETCH_PENDING_LOAN,
      }),
    }),
    logout(){
      router.push({
        name:"Login"
      })
    }
  },
  mounted() {
    this.fetchLoan()
  }
})
</script>

<style scoped>

</style>