<template>
  <div>
    <h1>Sign in</h1>
    <form autocomplete="off" @submit="onSubmit" novalidate>
      <div>
        <label for="email">Email</label>
        <input autocomplete="off" class="form-control" type="email" v-model="user.email" placeholder="Email"
               name="email" id="email"/>

      </div>
      <div>
        <button type="submit" class="btn">Login</button>
      </div>
    </form>
    <code>
      for admin use: admin@gmail.com
    </code>
    <code>
      for user use: joe@gmail.com / james@gmail.com
    </code>
  </div>
</template>

<script>
import {defineComponent, watch, ref} from "vue";
// import {required} from 'vuelidate/lib/validators'
import useVuelidate from '@vuelidate/core'
import {required, email} from '@vuelidate/validators'
import {mapActions, mapGetters,mapMutations} from "vuex";
import {FETCH_USER, RESET_USER} from "../store/constants/auth";
import router from "../router";

export default defineComponent({
  setup() {
    return {v$: useVuelidate()}
  },
  computed: {
    ...mapGetters({
      isAuthorized: 'isAuthorized',
      userInfo: 'loggedInUser'
    }),
  },
  mounted(){
    this.resetUser()
  },
  watch: {
    userInfo: (newVal) => {
      if (newVal) {
        if (newVal.type === "admin") {
          router.push({name: "Admin"})

        } else {
          router.push({name: "User"})
        }
      }
    }
  },
  methods: {
    ...mapMutations({
      resetUser:RESET_USER
    }),
    ...mapActions({
      submitForAuth: FETCH_USER,
    }),
    onSubmit(e) {
      e.preventDefault();
      if (!this.v$.$invalid) {
        this.submitForAuth({...this.user, isRedirect: true})
      }
    }
  },
  data: () => ({
    user: {
      email: null
    }
  }),
  validations() {
    return {
      user: {
        email: {required, email}
      }
    }
  }
})
</script>

<style scoped>

</style>