<template>
  <div>
    <div class="d-flex loan-header">
      <h1>Howdy!, {{ `${userInfo?.firstName} ${userInfo?.lastName}` }}</h1>
      <div class="action">
        <button class="btn" @click="()=>toggleForm()"> {{showForm?"Close":"+ Add Loan"}}</button>
        <button class="btn default" @click="logout">Logout</button>
      </div>
    </div>
    <hr>
    <form v-if="showForm" @submit="handleSubmit" novalidate>
      <div>
        <label for="amount">Amount</label>
        <input type="number" v-model="loanData.amount" class="form-control" id="amount" name="amount"/>
      </div>
      <div>
        <label for="term">Term (in weeks)</label>
        <input type="number" max="15" v-model="loanData.term" class="form-control" id="term" name="term"/>
      </div>
      <div>
        <button class="btn">Create Loan</button>
        <button class="btn default" type="button" @click="()=>toggleForm()">Close</button>
      </div>
    </form>
    <div v-if="!userInfo.loans.length">
      <h1>You can apply for new Loan by clicking on the button</h1>
    </div>
    <div v-for="loan in userInfo.loans" :key="loan.id">
      <Loan :loan-data="loan"/>
    </div>
  </div>
</template>

<script>
import {defineComponent, reactive,ref} from "vue";
import {mapActions, mapGetters} from "vuex";
import Loan from "../components/Loan.vue";
import {FETCH_USER} from "../store/constants/auth";
import {CREATE_LOAN} from "../store/constants/loan";
import router from "../router";


export default defineComponent({
  setup() {
    const loanData = reactive({
      amount: 0,
      term: 0
    })

    const showForm = ref(false)

    const toggleForm = ()=>{
      showForm.value = !showForm.value
    }

    return {
      loanData,
      showForm,
      toggleForm
    }
  },
  data: () => ({
    errors: []
  }),
  components: {
    Loan
  },
  computed: {
    ...mapGetters({
      userInfo: 'loggedInUser'
    })
  },
  methods: {
    ...mapActions({
      createLoan: CREATE_LOAN,
    }),
    logout(){
      router.push({
        name:"Login"
      })
    },
    handleSubmit(e) {
      e.preventDefault();
      if (this.loanData.term && this.loanData.amount) {
        const {term, amount} = this.loanData
        this.loanData.amount = 0
        this.loanData.term = 0
        const {id,email} = this.userInfo;
        this.createLoan({
          term, amount, userId: id,email
        })
      }
      // console.log(this.v$.loanData.$error)
    }
  }

})
</script>

<style scoped lang="scss">

</style>