.accordion{
  margin-bottom: convert(24);
  &--title{
    cursor: pointer;
    background: #F5F9FF;
    border: 1px solid #F5F5F5;
    border-radius: convert(8);
    padding: convert(24);
    display: flex;
    align-items: center;
    box-shadow: 0 0 convert(8) #0000000A;
    img{
      width: convert(24);
      height: auto;
    }
    span.title{
      color: $dark-blue;
      font-weight: convert(14);
      margin-left: convert(12);
    }
    i{
      margin-left: auto;
      font-size: convert(20);
      color: $light-grey;
    }
  }
  &.hidden{
    .accordion--body{
      display: none;
    }
  }
  &--body{

  }


}