.dept--list{
  display: flex;
  flex-direction: column;
  padding: convert(24);
  border: 1px solid #F0F0F0;
  border-top: none;
  border-bottom-left-radius: convert(8);
  border-bottom-right-radius: convert(8);
  &+a{
    display: block;
    color:$primary-color;
    font-size: convert(13);
    font-weight: bold;
    padding: convert(16);
    text-align: center;
    background: #EDFFF5;
    border: 1px solid #DDFFEC;
    text-decoration: none;
    border-bottom-right-radius: convert(8);
    border-bottom-left-radius: convert(8);
  }
}
.debt{
  display: flex;
  border-bottom: 1px solid #F5F5F5;
  padding: convert(18) 0;
  &:last-of-type{
    border-bottom: none;
  }
  .icon{
    width: convert(48);
    height: convert(48);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    &.bin{
      background: #009DFF1A;
    }
    &.flight{
      background: #00D6B51A;
    }
    &.megaphone{
      background: #F251951A;
    }
  }
  .user-info{
    display: flex;
    flex-direction: column;
    margin-left: convert(12);
    .name{
      //font-weight: 700;
      color: $dark-color;
      font-weight: bold;
      font-size: convert(14);
      line-height: convert(20);
    }
    .date{
      color: #AAAAAA;
      line-height: convert(20);
      font-size: convert(13);
      margin-bottom: convert(12);
    }
    .refund{
      display: flex;
      align-items: center;
      color: #325BAF;
      font-weight: bold;
      &-icon{
        width: convert(24);
        height: convert(24);
        border-radius: 50%;
        background: #325BAF;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: convert(8);

        i{
          color: #fff;

        }
      }
    }
  }
  .amount{
    margin-left: auto;
    font-size: convert(14);
    font-weight: bold;
    &.add{
      color: $primary-color;
    }
  }
}