@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&family=Montserrat&display=swap');

.font-mono {
  font-family: $mono-font-family;
}

.font-san {
  font-family: $san-font-family;
}