@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');

.font-mono {
  font-family: $mono-font-family;
}

.font-san {
  font-family: $san-font-family;
}