@font-face {
  font-family: 'icomoon';
  src:  url('/fonts/icomoon.eot?8gtgmp');
  src:  url('/fonts/icomoon.eot?8gtgmp#iefix') format('embedded-opentype'),
  url('/fonts/icomoon.ttf?8gtgmp') format('truetype'),
  url('/fonts/icomoon.woff?8gtgmp') format('woff'),
  url('/fonts/icomoon.svg?8gtgmp#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-payments:before {
  content: "\e928";
}
.icon-logo:before {
  content: "\e900";
}
.icon-transaction .path1:before {
  content: "\e901";
  color: rgb(50, 91, 175);
  opacity: 0.15;
}
.icon-transaction .path2:before {
  content: "\e902";
  margin-left: -1em;
  color: rgb(50, 91, 175);
}
.icon-transaction .path3:before {
  content: "\e903";
  margin-left: -1em;
  color: rgb(35, 206, 253);
}
.icon-account:before {
  content: "\e904";
}
.icon-add:before {
  content: "\e905";
}
.icon-card:before {
  content: "\e906";
}
.icon-credit:before {
  content: "\e907";
}
.icon-deactivate-card .path1:before {
  content: "\e908";
  color: rgb(50, 91, 175);
}
.icon-deactivate-card .path2:before {
  content: "\e909";
  margin-left: -1em;
  color: rgb(154, 192, 250);
}
.icon-deactivate-card .path3:before {
  content: "\e90a";
  margin-left: -1em;
  color: rgb(241, 243, 244);
}
.icon-down-arrow:before {
  content: "\e90b";
}
.icon-file-storage:before {
  content: "\e90c";
  color: #009dff;
}
.icon-flights:before {
  content: "\e90d";
  color: #00d6b5;
}
.icon-freeze-card .path1:before {
  content: "\e90e";
  color: rgb(50, 91, 175);
}
.icon-freeze-card .path2:before {
  content: "\e90f";
  margin-left: -1em;
  color: rgb(154, 192, 250);
}
.icon-freeze-card .path3:before {
  content: "\e910";
  margin-left: -1em;
  color: rgb(241, 243, 244);
}
.icon-g-pay .path1:before {
  content: "\e911";
  color: rgb(255, 255, 255);
}
.icon-g-pay .path2:before {
  content: "\e912";
  margin-left: -1em;
  color: none;
}
.icon-g-pay .path3:before {
  content: "\e913";
  margin-left: -1em;
  color: rgb(66, 133, 244);
}
.icon-g-pay .path4:before {
  content: "\e914";
  margin-left: -1em;
  color: rgb(52, 168, 83);
}
.icon-g-pay .path5:before {
  content: "\e915";
  margin-left: -1em;
  color: rgb(251, 188, 4);
}
.icon-g-pay .path6:before {
  content: "\e916";
  margin-left: -1em;
  color: rgb(234, 67, 53);
}
.icon-card-details .path1:before {
  content: "\e917";
  color: rgba(50, 91, 175, 0.15);
}
.icon-card-details .path2:before {
  content: "\e918";
  margin-left: -1em;
  color: rgb(50, 91, 175);
}
.icon-card-details .path3:before {
  content: "\e919";
  margin-left: -1em;
  color: rgb(35, 206, 253);
}
.icon-home:before {
  content: "\e91a";
}
.icon-megaphone:before {
  content: "\e91b";
  color: #f25195;
}
.icon-replace-card .path1:before {
  content: "\e91c";
  color: rgb(50, 91, 175);
}
.icon-replace-card .path2:before {
  content: "\e91d";
  margin-left: -1em;
  color: rgb(241, 243, 244);
}
.icon-replace-card .path3:before {
  content: "\e91e";
  margin-left: -1em;
  color: rgb(154, 192, 250);
}
.icon-spend-limit .path1:before {
  content: "\e91f";
  color: rgb(50, 91, 175);
}
.icon-spend-limit .path2:before {
  content: "\e920";
  margin-left: -1em;
  color: rgb(154, 192, 250);
}
.icon-spend-limit .path3:before {
  content: "\e921";
  margin-left: -1em;
  color: rgb(154, 192, 250);
}
.icon-spend-limit .path4:before {
  content: "\e922";
  margin-left: -1em;
  color: rgb(154, 192, 250);
}
.icon-spend-limit .path5:before {
  content: "\e923";
  margin-left: -1em;
  color: rgb(154, 192, 250);
}
.icon-spend-limit .path6:before {
  content: "\e924";
  margin-left: -1em;
  color: rgb(154, 192, 250);
}
.icon-spend-limit .path7:before {
  content: "\e925";
  margin-left: -1em;
  color: rgb(154, 192, 250);
}
.icon-spend-limit .path8:before {
  content: "\e926";
  margin-left: -1em;
  color: rgb(241, 243, 244);
}
.icon-visa-Logo:before {
  content: "\e927";
  color: #fff;
}
